<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/yellowlogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Custom Computers
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Store", "Index", "Store", new { area = "" }, new { @class = "nav-link" })</li>


                @if (User.IsInRole("Customer"))
                {
                    <li>@Html.ActionLink("My Orders", "MyOrders", "OrderDetails", new { area = "" }, new { @class = "nav-link" })</li>
                }
                else if (User.IsInRole("Administrator") || User.IsInRole("StoreManager") || User.IsInRole("AssistantManager") || User.IsInRole("SalesAssistant"))
                {
                    <li> @Html.ActionLink("My Sales", "MySales", "OrderDetails", new { area = "" }, new { @class = "nav-link" }) </li>
                    <li> @Html.ActionLink("Store Panel", "StorePanel", "StoreManager", new { area = "" }, new { @class = "nav-link" }) </li>
                }
                else if (User.IsInRole("StoresManager"))
                {
                    <li> @Html.ActionLink("Store Panel", "StorePanel", "StoreManager", new { area = "" }, new { @class = "nav-link" }) </li>
                }
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    @{Html.RenderAction("CartSummary", "ShoppingCart");}
                </a>
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </nav>
    <div id="container body-content">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
