@model IEnumerable<CustomComputersGU.Models.Poco.Product>

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
        
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    
</head>

<body>

    <h1>Dashboard</h1>

    <section class="row text-center placeholders">
        <div class="col-6 col-sm-3 placeholder">
            <img src="~/Content/Images/ProductsLogo.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>@Html.ActionLink("Products", "Index", "StoreManager", new { area = "" }, new { @class = "nav-link" })</h4>

        </div>
        <div class="col-6 col-sm-3 placeholder">
            <img src="~/Content/Images/OrdersLogo.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>@Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "nav-link" })</h4>

        </div>
        <div class="col-6 col-sm-3 placeholder">
            <img src="~/Content/Images/OrderDetailsLogo.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>@Html.ActionLink("Orders Details", "Index", "OrderDetails", new { area = "" }, new { @class = "nav-link" })</h4>
        </div>
        <div class="col-6 col-sm-3 placeholder">
            <img src="~/Content/Images/RolesLogo.png" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>@Html.ActionLink("Admin Roles", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })</h4>

        </div>

    </section>

    <h2>Low Stock Items</h2>

        <p>          
            <table class="table">
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitsInStock)
                    </th>                   
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitsInStock)
                        </td>                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |                            
                            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                        </td>
                    </tr>
                }
            </table>
            <a href="@Url.Action("LowProductsToPdf","StoreManager")" class="hidden-print" ﻿>Export To PDF</a>
        </p>



        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>








